:root {
    /* BG colors  */
    --bg-blue: rgb(249,243,255);
    --bg-red: rgb(254,247,252);
    --bg-yellow: rgb(255,225,246);
    --bg-purple: rgb(246,255,255);

    /* Gradient Color  */
    --bg-gradient : linear-gradient(to right, #ff512f, #dd2476);
    --bg-gradient-indigo : linear-gradient(to right, #8e2de2, #4a00e0);
    --bg-gradient-peach : linear-gradient(to right, #fff7f3, #fff7f3);

    /* text colors  */
    --text-gray: #808291;
    --text-white: #f8f9fa;
    --text-light: #f6f6f6;
    --text-dark: #1A3260;
    --text-dark2: #1a3760d4;
    --text-red: #ff4d6d;

    /* BG Image  */
    --bg-cover : url('../img/bgimg1.png');
    --bg-image1 : url('../img/img1.png');
    --bg-image2 : url('../img/img2.png');
    --bg-image3 : url('../img/img3.png');

    --box-shadow : 0px 0px 50px 0px rgb(0 0 0 / 10%);

    --ff-primary: 'Poppins', sans-serif;
}

/* ===== Simple Reset  ===== */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-primary);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* ===== /Simple Reset  ===== */

/* ===== Utilities Style ===== */
.container {
    width: 100%;
}
.container-fluid {
    width: 98%;
}
.d-flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-initial {
    flex: 0 1 auto;
}
.flex-grow {
    flex-grow: 1;
}
.justify-center {
    justify-content: center;
}

.d-inline {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
}
.cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.w-100 {
    width: 100%;
}
.w-50 {
    width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.py-2 {
    padding-top: 1em;
    padding-bottom: 1em;
}
.py-5 {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.py-10 {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}
.px-5 {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.px-10 {
    padding-left: 3.5em;
    padding-right: 3.5em;
}
.link {
    color: var(--text-dark2);
    font-weight: 700;
}
.link:hover {
    color: var(--text-red);
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.btn-primary {
    padding: 0.8em 2em;
    border-radius: 50px;
    font-weight: 700;
    color: var(--text-white);
}
.btn-primary:hover {
    background: var(--bg-gradient-indigo);
}
.btn-shadow {
    box-shadow: var(--box-shadow);
}
.bg-cover {
    background: var(--bg-cover);
    object-fit: fill;
}

.text-center {
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-sm {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-md {
    font-size: 1.5rem;
}
.text-lg {
    font-size: 2.2rem;
    line-height: 3rem;
}
.text-xl {
    font-size: 3rem;
}
.text-2xl {
    font-size: 5rem;
}
.font-bold {
    font-weight: 700;
}
.text-dark {
    color: var(--text-dark);
}
.text-dark2 {
    color: var(--text-dark2);
}
.text-white {
    color: var(--text-white);
}
.text-light {
    color: var(--text-light);
}
.text-gray {
    color: var(--text-gray);
}
.text-red {
    color: var(--text-red);
}

.bg-gradient {
    background: var(--bg-gradient);
}
.bg-gradient-indigo {
    background: var(--bg-gradient-indigo);
}
.bg-gradient-peach {
    background: var(--bg-gradient-peach);
}
.bg-blue {
    background: var(--bg-blue);
}
.bg-red {
    background: var(--bg-red);
}
.bg-yellow {
    background: var(--bg-yellow);
}
.bg-purple {
    background: var(--bg-purple);
}
/* ===== /Utilities Style ===== */

/* ===== Media Query ===== */
/* large screen sm (640px)  */
@media (min-width: 640px){
    .container {
        width: 648px;
    }
    .sm-text-xl {
        font-size: 3rem;
    }
}

/* large screen md (768px)  */
@media (min-width: 768px){
    .container {
        width: 768px;
    }
    .md-text-left {
        text-align: left;
    }
}

/* large screen lg (1024)  */
@media (min-width: 1024px){
    .container {
        width: 1024px;
    }
    #primary-navigation {
        flex-direction: row !important;
    }
    #primary-navigation .toggle-btn > button {
        display: none;
    }

    .collapse {
        max-height: initial !important;
    }

    .collapse ul {
        flex-direction: row !important;
    }
    .lg-cols-2 {
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
    .lg-cols-3 {
        grid-template-columns: repeat(3, minmax(0,1fr));
    }
}

/* large screen lg (1280)  */
@media (min-width: 1280px){
    .container {
        width: 1280px;
    }
    
    #primary-navigation {
        background: transparent !important;
    }

    #primary-navigation .flex-initial button {
        display: inline-block !important;
    }
}
/* ===== /Media Query ===== */

/* ===== Navigation Style ===== */
#primary-navigation {
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    padding: 1em 1.5em;
    background: var(--text-light);
    flex-direction: column;
}
#primary-navigation .collapse {
    max-height: 0px;
    overflow-y: hidden;
    transition: all 0.5s ease-in-out;
}
#primary-navigation .collapse ul {
    flex-direction: column;
    text-align: center;
    padding: 0 3em;
}
#primary-navigation .collapse ul li {
    padding: 0 1.5em;
    line-height: 3em;
    font-size: 1.1rem;
}
#primary-navigation .toggle-btn > button   {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    color: var(--text-dark2);
}
#primary-navigation .flex-initial button {
    display: none;
}
.active {
    max-height: 50vh !important;
}
/* ===== /Navigation Style ===== */

/* ===== Hero Section Style ===== */
.hero {
    width: 100%;
    position: relative;
    background: var(--bg-cover);
    background-repeat: no-repeat;
    background-position-x:right;
    z-index: -99;
}
.hero .hero__title {
    height: auto;
    padding: 10em 0;
}
/* ===== /Hero Section Style ===== */

/* ===== Agency Section Style ===== */
.agency {
    padding: 5em 0;
}
/* ===== /Agency Section Style ===== */

/* ===== Digital Life Section Style ===== */
.digital-life .d-grid {
    column-gap: 10em;
}
.digital-life__grid-images {
    display: grid;
    grid-template-columns: repeat(16, minmax(10px, 1fr));
    grid-template-rows: repeat(8, minmax(100px,1fr));
}
.digital-life__grid-images .item-one {
    background-color: var(--text-gray);
    grid-area: 2 / 1 / 5 / 8;
    background: var(--bg-image1) no-repeat;
    background-size: cover;
    border-radius: 8px;
    filter: blur(1px);
}
.digital-life__grid-images .item-two {
    background-color: var(--text-gray);
    grid-area: 1 / 9 / 4 / 16;
    background: var(--bg-image2) no-repeat;
    background-size: cover;
    border-radius: 8px;
    filter: blur(1px);
}
.digital-life__grid-images .item-three {
    background-color: var(--text-gray);
    grid-area: 3 / 4 / 8 / 14;
    background: var(--bg-image3) no-repeat;
    background-size: cover;
    border-radius: 8px;
    z-index: 99;
}
/* ===== /Digital Life Section Style ===== */